#file-upload-container {
    margin: 40px 0;
}

.custom-file {
    border: 1px solid #000;
}

#canvas-container {
    margin: auto;
    text-align: center;
}

#img-canvas {
    margin: auto;
    max-height: 50vh;
    width: auto;
    max-width: 100%;
    background: gray;
}


#bottom-container {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgb(247, 244, 244);
}

.row div {
    border: 1px solid;
}